<!DOCTYPE html>
<html>
<title>DND</title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}
.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("https://i.imgur.com/6xt8uEl.jpg");
    min-height: 75%;
}
.menu {
    display: none;
}
</style>

<body>
<!-- Links (sit on top) -->
{% include 'includes/_navbar.html' %}


<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white" style="font-size:90px">Bookmarks</span>
  </div>
  <div class="w3-display-bottomright w3-center w3-padding-large">
    <span class="w3-text-white">MARCG</span>
  </div>
</header>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

<!-- About Container -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    	{% if session.logged_in %}
    	  <div >
          <h6 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ARTICLES YOU'VE BOOKMARKED</span></h6>


    	    <table>
	    	{% set count = [0] %}
	    	{% for article in user.articleOfUser|sort(attribute='t')|reverse %}
	    		{% if article.isBookmark %}
	    			{% if count.append(count.pop() + 1) %}{% endif %} {# increment count by 1 #}
	    			<tr><td><a href="{{ article.id }}" target="_blank">{{ article.title }} </a> </td> <td> &nbsp {{ article.t }} seconds </td></tr>
	    		{% endif %}
	      	{% endfor %}
	      	{% if count[0] == 0 %}
	      		<tr><td><a> You have no bookmarked articles </a> </td> <td>
	      	{% endif %}
	    </table>

    	  </div>
      {% endif %}

</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-48 w3-large">
  <p>Created by MARCG </p>
</footer>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
<script type="text/javascript">
  CKEDITOR.replace('editor')
</script>

</body>

</html>
